<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aperiam accusantium non itaque adipisci debitis maiores quam mollitia? Saepe expedita repudiandae dignissimos ab culpa excepturi earum quisquam quis quod debitis.</p>
            <img class="portrait" src="/img/google.png" alt="google">
        </div>
        
        {{>footer}}
    </body>
</html>